@import url(https://fonts.googleapis.com/css?family=Varela+Round);
html,
body,
#root,
.dashboard {
  min-height: 100%;
  height: 100%; }

body {
  overflow-x: hidden;
  overflow-y: auto; }

#root {
  background-color: #222d32; }

body {
  font-family: 'Varela Round', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  overflow-x: hidden;
  color: #EEE; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 20px;
  color: #10161A; }

h1 {
  font-size: 54px; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 21px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 16px; }

a {
  color: #6195FF;
  text-decoration: none;
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity; }
  a:hover, a:focus {
    text-decoration: none;
    outline: none;
    opacity: 0.8;
    color: #6195FF; }

.main-color {
  color: #6195FF; }

.white-text {
  color: #FFF; }

::-moz-selection {
  background-color: #6195FF;
  color: #FFF; }

::selection {
  background-color: #6195FF;
  color: #FFF; }

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none; }

.sideBarMenuContainer {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 50px;
  min-height: 100%;
  width: 230px;
  z-index: 810; }
  .sideBarMenuContainer .nav {
    font-size: 14px; }
    .sideBarMenuContainer .nav li {
      position: relative;
      margin: 0;
      padding: 0; }
      .sideBarMenuContainer .nav li a {
        padding: 12px 5px 12px 15px;
        position: relative;
        display: block;
        border-left: 3px solid transparent;
        color: #b8c7ce;
        border-radius: 0;
        border-top-left-radius: 1px;
        border-bottom-left-radius: 1px; }
        .sideBarMenuContainer .nav li a .fa {
          width: 30px; }
      .sideBarMenuContainer .nav li.active a {
        border-left-color: #3c8dbc;
        color: #fff;
        background: #1e282c; }
      .sideBarMenuContainer .nav li:hover a {
        color: #fff;
        background: #1e282c; }
      .sideBarMenuContainer .nav li.header {
        padding: 10px 25px 10px 15px;
        font-size: 12px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
        color: #4b646f;
        background: #1a2226; }
  .sideBarMenuContainer .user-panel {
    position: relative;
    width: 100%;
    padding: 10px;
    overflow: hidden; }
    .sideBarMenuContainer .user-panel .image img {
      width: 100%;
      max-width: 45px;
      height: auto;
      border-radius: 50%;
      border: 3px solid white; }
  .sideBarMenuContainer .info {
    padding: 5px 5px 5px 15px;
    line-height: 1;
    position: absolute;
    left: 55px; }
    .sideBarMenuContainer .info p {
      font-size: 11px;
      font-weight: 600;
      margin-bottom: 9px; }
      .sideBarMenuContainer .info p.status {
        text-decoration: none;
        padding-right: 5px;
        margin-top: 3px;
        font-size: 11px;
        font-weight: normal; }
        .sideBarMenuContainer .info p.status .fa {
          margin-right: 3px; }

.dashMain {
  margin-left: 230px;
  padding: 60px 30px 20px;
  min-height: 100%;
  height: auto;
  background-color: #ecf0f5; }
  .dashMain .dashTitle {
    text-transform: capitalize;
    text-align: center; }
    .dashMain .dashTitle:after {
      content: "";
      display: block;
      height: 4px;
      width: 40px;
      background-color: #6195FF;
      margin: 20px auto 0; }
