html,
body,
#root,
.dashboard {
    min-height: 100%;
    height: 100%;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
}

#root {
    background-color: #222d32;
}

@import 'modules/common/colors';
@import 'modules/common/typography';
@import 'modules/dashboard/nav';
@import 'modules/dashboard/dashMain';