.bg-grey {
    background-color: $grey-2;
    border-top: 1px solid $grey-3;
    border-bottom: 1px solid $grey-3;
}

.bg-dark {
    background-color: $bgDark;
}

.bg-img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.bg-img .overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: .8;
    background: $bgDark;
}