.btn:disabled {
  cursor: not-allowed;
}

.main-btn,
.outline-btn,
.white-btn {
  display: inline-block;
  padding: 10px 35px;
  margin: 3px;
  border: 2px solid transparent;
  border-radius: 3px;
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
  -webkit-transition: 0.2s width;
  transition: 0.2s width;
}

.main-btn {
  background: $primary;
  color: $colWhite;

  i {
    margin-right: 1em;
  }
}

.white-btn {
  background: $colWhite;
  color: $bgDark !important;
}

.outline-btn {
  background: transparent;
  color: $primary !important;
  border-color: $primary;
}

.main-btn:hover,
.outline-btn:hover,
.white-btn:hover {
  opacity: 0.8;
}