.contact {
    margin: 15px 0px;
    text-align: center;
    i {
        font-size: 36px;
        color: $primary;
        margin-bottom: 20px;
    }
}

.contact-form {
    text-align: center;
    margin-top: 40px;
    .input {
        margin-bottom: 20px;
        &:nth-child(1),
        &:nth-child(2) {
            width: calc(50% - 10px);
        }
        &:nth-child(2) {
            margin-left: 15px;
        }
    }
}