#home {
  height: 100vh;

  .home-wrapper {
    position: relative;
    top: 50%;
    text-align: center;

    .home-content {
      h1 {
        text-transform: uppercase;
      }

      button {
        margin-top: 20px;
      }
    }

    .header-wrapper {
      h2 {
        display: inline-block;
        margin-bottom: 0;
      }
    }
  }
}