.number {
    text-align: center;
    margin: 15px 0px;
    i {
        color: #6195FF;
        font-size: 36px;
        margin-bottom: 20px;
    }
    h3 {
        font-size: 36px;
        margin-bottom: 10px;
    }
}