@media only screen and (max-width: 991px) {}

@media only screen and (max-width: 767px) {
    .section-header h2.title {
        font-size: 31.5px;
    }
    .main-btn,
    .default-btn,
    .outline-btn,
    .white-btn {
        padding: 8px 22px;
        font-size: 14px;
    }
    .home-content h1 {
        font-size: 36px;
    }
    .header-wrapper h2 {
        margin-bottom: 20px;
        text-align: center;
        display: block;
    }
    .header-wrapper .breadcrumb {
        float: none;
        text-align: center;
    }
}

@media only screen and (max-width: 480px) {
    #portfolio [class*='col-xs'] {
        width: 100%;
    }
    #numbers [class*='col-xs'] {
        width: 100%;
    }
    .contact-form .input:nth-child(1),
    .contact-form .input:nth-child(2) {
        width: 100%;
    }
    .contact-form .input:nth-child(2) {
        margin-left: 0px;
    }
    .reply-form form .input,
    .reply-form form .input {
        width: 100%;
    }
    .reply-form form .input:nth-child(2) {
        margin-left: 0px;
    }
    .blog-author .media .media-left {
        display: block;
        padding-right: 0;
        margin-bottom: 20px;
    }
    .blog-author .media {
        text-align: center;
    }
    .blog-author .media .media-heading .author-social {
        margin-top: 10px;
        float: none;
    }
    .blog-author .media .media-left img {
        margin: auto;
    }
    .blog-comments .media .media {
        margin: 0px -15px;
    }
}