// Colors:
$body: #868F9B;
$headers: #10161A;
$primary: #6195FF;
$dark: #FCFCFF;
$grey-0: #868F9B;
$grey-1: #F4F4F4;
$grey-2: #FAFAFA;
$grey-3: #EEE;
$bgDark: #1C1D21;
$colWhite: #fff;
$inputTextColor: #354052;
$inputBorderColor: #6195FF;